@model BudgetingApp.BLL.DTOs.BudgetDTO

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="mt-4 mb-4"></h1>
    </div>
    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Budget with Expense</h6>
            </div>
            <div class="card-body">
                div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="BudgetID" class="control-label"></label>
                            <input asp-for="BudgetID" class="form-control" readonly />
                            <span asp-validation-for="BudgetID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MonthDate" class="control-label"></label>
                            <input asp-for="MonthDate" type="month" class="form-control" />
                            <span asp-validation-for="MonthDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserID" class="control-label"></label>
                            <input asp-for="UserID" class="form-control" readonly />
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TransactionCategoryID" class="control-label">Transaction Category:</label>
                            <select asp-for="TransactionCategoryID" class="form-control">
                                <option value="">Select Transaction Category</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.TransactionCategoryID">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="TransactionCategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="BudgetWithExpense">Back to List</a>
            </div>

            </div>
        </div>
    </div>
</div>
<
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            
            var selectedTransactionCategory = '@(ViewBag.TransactionCategoryID)';

 
            if (selectedTransactionCategory !== '') {
                $('#TransactionCategoryID').val(selectedTransactionCategory);
            }
        });
    </script>

}
