@model BudgetingApp.BLL.DTOs.UserCreateDTO

@{
    ViewData["Title"] = "Register";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/startbootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-lg-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">User Registration</h1>
                        </div>
                            
                        <form asp-action="Register" class="user">
                            
                            <div class="form-group">
                                <label asp-for="Username" class="sr-only"></label>
                                <input asp-for="Username" class="form-control form-control-user" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="sr-only"></label>
                                <input asp-for="Email" class="form-control form-control-user" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="sr-only"></label>
                                <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RePassword" class="sr-only"></label>
                                <input asp-for="RePassword" type="password" class="form-control form-control-user" placeholder="Repeat Password" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FullName" class="sr-only"></label>
                                <input asp-for="FullName" class="form-control form-control-user" placeholder="Full Name" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block mb-2">
                                Register Account
                            </button>
                            <div class="text-center">
                                <a class="small" href="/Users/Login">Have an account? Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/startbootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap/js/sb-admin-2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>




</html>